$grey-color: rgb(207, 207, 207);
$darker-grey-color: rgb(143, 143, 143);

.newsComp {
    width: 100%;
    border: 1px solid $grey-color;

    .newsCompImage {
        height: 16rem;
        width: 100%;
        background-color: rgb(204, 204, 204);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .newsCompImageLoader {
        height: 16rem;
        width: 100%;
        background: linear-gradient(90deg, #9c9c9c 0%, #dddddd 100%);
        background-size: 400% 400%;
        animation: load 1s ease infinite alternate;
    }

    @keyframes load {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    .newsCompContent {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;

        .newsCompContentTopic {
            font-size: 1rem;
            color: $darker-grey-color;
        }

        .newsCompContentTile {
            font-size: 2rem;
            max-width: 85%;
            font-family: 'El Messiri', sans-serif;
            line-height: 110%;
            text-align: center;
        }

        .newsCompContentDate {
            font-size: .9rem;
            color: $darker-grey-color;
            margin-bottom: .5rem;
        }

        .newsCompContentButton {
            border: 2px solid black;
            background-color: white;
            color: black;
            padding: .3rem 2.5rem;
            font-size: .9rem;
            text-decoration: none;
            transition: .2s all ease-in;

            &:hover {
                background-color: black;
                color: white;
            }
        }
    }
}